@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoBlack.ttf");
    font-weight: 100;
  }
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
  }

  * {
    box-sizing: border-box;
  }

  .body {
    background-color: #99a2f1;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    font-family: 'Roboto'
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .html {
    scroll-behavior: smooth; 
  }

  .nav-list {
    list-style: none;
  } 

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #e6e6fa;
    font-weight: bold;
  }

  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
  .main-header {
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    align-content: space-between;
    align-items:inherit;
    text-align: justify;
    background-color: #3b6cf3;
    color: #ffffff;
  }

  .main-container {
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
  }
  
  .footer-container {

  }
  .footer-table
    {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background: #3b6cf3;;
    padding: 30px 0;
}
  
  .footer-container-right {
    text-align: right;
  }
  .footer-container-left {
    text-align: left;
  }

    
  .section {
    width: 50%;
  }

  .section-title {
    width: 50%;
    font-style: italic;
    color: #010a0f;
  }


  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
